* {
    -fx-font-family: "Microsoft YaHei UI Light";
}

.text-field, .date-picker, .normal-button {
    -fx-pref-height: 27px;
    -fx-border-radius: 2px;
    -fx-border-color: #BDC0BA;
    -fx-background-color: rgba(255, 255, 255);
}


.date-picker:focused {
    -fx-effect: null;
}

#modify-btn {
    -fx-text-alignment: right;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #E16B8C;
}

#modify-btn:hover {
    -fx-text-fill: #6ED9A0;
}

#modify-btn:pressed {
    -fx-text-fill: #7DB9DE;
}

.normal-button {
    -fx-pref-height: 30px;
    -fx-pref-width: 70px;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: #ffffff;
}

.normal-button:hover {
    -fx-background-color: #BDC0BA, 0.8;
}

.normal-button:pressed {
    -fx-background-color: #ffffff;
}

#save-btn {
    -fx-background-color: #7DB9DE;
    -fx-text-fill: #ffffff;
}

#save-btn:hover {
    -fx-background-color: #51A8DD;
}

#save-btn:pressed {
    -fx-background-color: #7DB9DE;
}

.date-picker > .arrow-button {
    -fx-background-insets: 0 0 0 0, 0;
}

.label, .radio-button {
    -fx-font-size: 13.5px;
    -fx-text-fill: #5B666B, 0.6;

}