* {
    -fx-font-family: "Microsoft YaHei UI Light";
}

.split-pane {
    -fx-padding: 0;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0.1em 0 0.1em;
    -fx-background-color: #5B666B;
}

.split-pane > .split-pane-divider:hover {
    -fx-cursor: null;
}

#guide-pane {
    -fx-background-color: #2A363F;
}

#right-pane {
    -fx-background-color: #F6F8F7;
}

.left-guide-button {
    -fx-pref-width: 150px;
    -fx-pref-height: 100px;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.left-guide-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-cursor: hand;
}

.left-guide-button:pressed {
    -fx-background-color: #5B666B;
}

.toggle-button:selected {
    -fx-background-color: #5B666B;
}

/* member root */
#hotel-list {
    -fx-graphic: url("/images/member/Hotel.png");
}

#order-list {
    -fx-graphic: url("/images/member/Order.png");
}

#info-list {
    -fx-graphic: url("/images/member/Info.png");
}

#credit-list {
    -fx-graphic: url("/images/member/Credit.png");
}

/* hotel root */
#hotel-order {
    -fx-graphic: url("/images/hotel/Order.png");
}

#promotion-list {
    -fx-graphic: url("/images/Promotion.png");
}

#hotel-info {
    -fx-graphic: url("/images/hotel/Hotel.png");
}

#hotel-room {
    -fx-graphic: url("/images/hotel/Room.png");
}

/* marketer root */
#credit-btn {
    -fx-graphic: url("/images/marketer/Credit.png");
}

#ab-order {
    -fx-graphic: url("/images/marketer/Order.png");
}

/* manager root */
#user-add {
    -fx-graphic: url("/images/manager/AddUser.png");
}

#logo-btn {
    -fx-pref-width: 150px;
    -fx-pref-height: 100px;
    -fx-background-color: transparent;
    -fx-background-image: url("/images/Logo.png");
    -fx-background-repeat: no-repeat;
}

.id-group {
    -fx-pref-height: 30px;
    -fx-text-fill: #2A363F;
}

#signOut-btn {
    -fx-background-color: transparent;
}

#signOut-btn:hover {
    -fx-text-fill: #6ED9A0;
}

#signOut-btn:pressed {
    -fx-text-fill: #2A363F;
}

#split-label {
    -fx-pref-height: 1px;
    -fx-background-color: #5B666B;
}

#exit-btn {
    -fx-graphic: url("/images/Exit.png");
}

#exit, #minimize {
    -fx-background-color: transparent;
    -fx-pref-height: 12px;
    -fx-pref-width: 12px;
}

#minimize {
    -fx-graphic: url("/images/minus.png");
}

#exit {
    -fx-graphic: url("/images/cross.png");
}

#exit:hover, #minimize:hover {
    -fx-background-color: rgba(110, 217, 160, 0.2);
}

#exit:pressed, #minimize:pressed {
    -fx-background-color: rgba(110, 217, 160, 0.5);
}


