.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-table-header-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:
            transparent
            transparent
            derive(#2A363F, 80%)
            transparent;
    -fx-border-insets: 5 10 1 10;
}

.table-view .column-header .label {
    -fx-font-size: 13px;
    -fx-font-family: "Microsoft YaHei UI Light";
    -fx-text-fill: #2A363F;
    -fx-alignment: center-left;
    -fx-padding: 0 10 0 0;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-view:focused {
    -fx-background-color: transparent;
}